<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> Welcome to my gallery </title>
    <link rel="stylesheet" href="js/bower_components/fancybox/source/jquery.fancybox.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <script>
     var HOST = "https://sample-gallery.herokuapp.com/";
    </script>
  </head>
  <body>
    <div class="container">
        <a href="javascript:;" class="thumbnail"><img  data-filename="blue" src="img/blue.jpg?v=1"/></a>
        <a href="javascript:;" class="thumbnail"><img  data-filename="red" src="img/red.jpg?v=1"/></a>
        <a href="javascript:;" class="thumbnail"><img  data-filename="yellow" src="img/yellow.jpg?v=1"/></a>
        <a href="javascript:;" class="thumbnail"><img  data-filename="black" src="img/black.jpg?v=1"/></a>
    </div>

    <script type="text/template" id="modal">
        <img src="<%=img_src%>" alt="cool" width="100%"/>
        <a href="javascript:;"
           data-title="<%=title%>"
           data-filename="<%=filename%>"
           data-description="<%=description%>"
           class="share">compartir</a>
    </script>

    <script src="js/facebook-sdk.js?v=1" type="text/javascript"></script>

    <script src="js/bower_components/jquery/dist/jquery.min.js?v=1" type="text/javascript"></script>
    <script src="js/bower_components/underscore/underscore-min.js?v=1" type="text/javascript"></script>
    <script src="js/bower_components/fancybox/source/jquery.fancybox.js?v=1" type="text/javascript"></script>
    <script src="js/bower_components/fancybox/source/jquery.fancybox.pack.js?v=1" type="text/javascript"></script>

    <script src="js/index.js?v=1" type="text/javascript"></script>
  </body>
</html>
